
@main("Welcome to Play"){

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="@routes.Assets.at("javascripts/angular.js")" type="text/javascript"></script>

}  {
    <h3>Photos</h3>
    <div ng-app="App" ng-controller="PhotoController">
        <div class="row">
            <form ng-submit="addImage()">
                Add photo: <input ng-model="newTitle" placeholder="Image title" />
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="row">
            <div class="col-md-4 text-center" ng-repeat="photo in photos">
                <h2>{{ photo.title }}</h2>
                <p><img src="//dummyimage.com/200x200/333/fff.png"/></p>
                <p><a class="btn btn-default" href="#" ng-click="removePhoto(photo,$index)" role="button">Delete</a></p>
            </div>
        </div>
    </div>
}
